.navbar-custom {
  background-color: #f5c518 !important;
  color: black;
  padding: 1rem;
}

a {
  text-decoration: none;
  color: black;
}

.logo{
  width: 7%;
}

image{
   padding: 0;
  margin: 0;
}
.wishicon{
  position: absolute;
  top:5px;
 
  font-size: 10px !important;
  padding: 2px;
}