<nav class="navbar navbar-expand-lg bg-body-tertiary navbar-custom">
  <div class="container-fluid">
    <div>
      <a class="navbar-brand" routerLink="home">Movie-App</a>
      <a routerLink="search"
        ><i class="fa-solid fa-search" style="color: #000000"></i
      ></a>
    </div>
    <div class="d-flex" role="search">
      <a routerLink="wishlist"
        ><i class="fa-solid fa-heart" style="color: #000000"></i
        ><span class="ms-2">Wishlist</span></a
      >
    </div>
  </div>
</nav>
